<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Chat</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'chatting/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'chatting/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'chatting/assets/fonts/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'chatting/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'chatting/assets/css/Google-Style-Login.css' %}">
</head>
<body>

	{% block body %}
	{% endblock %}
	
	<script src="{% static 'chatting/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'chatting/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>